<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32210043084-5iojq7bkrv88nb5kjnuvj14fdvgcfvpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32210043084-5iojq7bkrv88nb5kjnuvj14fdvgcfvpl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32210043084-3psndbbdrthanfqkmvvd6kaqd9gv3v4o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADuh1w2G5-FgPDpMrkdtZDvd4HCB0eyzo</string>
	<key>GCM_SENDER_ID</key>
	<string>32210043084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.disha.ios.quickride</string>
	<key>PROJECT_ID</key>
	<string>api-project-32210043084</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-32210043084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:32210043084:ios:f38a374c42f1c1ea</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-32210043084.firebaseio.com</string>
</dict>
</plist>
